<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Organizer</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<main class="container">
    <h1>My cinema manager</h1>
    <a href="{% url 'cinema_app:cinema' %}" role="button">Add a Cinema</a>
    <a href="{% url 'cinema_app:movie' %}" role="button">Add a Movie</a>
    <a href="{% url 'cinema_app:screening' %}" role="button">Add a Screening</a>
</main>
</body>
</html>
